<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="text-center mt-5">
        <%= @todo.title %>
      </h1>
      <p class="text-center">
      <%= @todo.description %>
      </p>
      <a href="/todos" class="btn btn-success btn-sm">Back</a>            
      <a href="/todos/<%= @todo.id %>/edit" class="btn btn-info btn-sm">Edit</a>
      <a href="/todos/<%= @todo.id %>/delete" class="btn btn-danger btn-sm">Delete</a>
    </div>
  </div>
</div>